#map{
    height: 400px;
    width: 46%;
    margin-left: 43%;
}

.listaResultados li:hover{
  background-color: blue;
  color: white;
}


.markerMap{
  border-radius: 50%;
  border: 8px solid #beb200;
  width: 20px;
  height: 20px;
}
.marker{
  position: relative;
}
.markerInfo{
  position: absolute;
  background-color: white;
  width: 170px;
  height: 25px;
  text-align: center;
  left: 180px;
  bottom: 40px;
  display: none;
  font-weight: bold;
  z-index: -10;
}
.markerInfo::after{
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent ;
  border-top: 12px solid rgb(255, 255, 255);
  border-bottom: 0;
  position: absolute;
  top:1.4rem;
  left:45%;
}